$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #767964;
$secondary_paletteKeyColor: #77786A;
$tertiary_paletteKeyColor: #757A5D;
$neutral_paletteKeyColor: #787774;
$neutral_variant_paletteKeyColor: #787774;
$background: #131311;
$onBackground: #E5E2DE;
$surface: #131311;
$surfaceDim: #131311;
$surfaceBright: #3A3936;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #1C1C19;
$surfaceContainer: #20201D;
$surfaceContainerHigh: #2A2A27;
$surfaceContainerHighest: #353532;
$onSurface: #E5E2DE;
$surfaceVariant: #474744;
$onSurfaceVariant: #C9C6C2;
$inverseSurface: #E5E2DE;
$inverseOnSurface: #31302E;
$outline: #92908D;
$outlineVariant: #474744;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C6C8B0;
$primary: #C6C8B0;
$onPrimary: #2F3221;
$primaryContainer: #454836;
$onPrimaryContainer: #E2E5CB;
$inversePrimary: #5D604C;
$secondary: #C7C8B7;
$onSecondary: #303126;
$secondaryContainer: #494A3E;
$onSecondaryContainer: #E5E5D4;
$tertiary: #C5C9A8;
$onTertiary: #2E331B;
$tertiaryContainer: #8F9375;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E2E5CB;
$primaryFixedDim: #C6C8B0;
$onPrimaryFixed: #1A1D0D;
$onPrimaryFixedVariant: #454836;
$secondaryFixed: #E3E3D3;
$secondaryFixedDim: #C7C8B7;
$onSecondaryFixed: #1B1C12;
$onSecondaryFixedVariant: #46483C;
$tertiaryFixed: #E1E6C3;
$tertiaryFixedDim: #C5C9A8;
$onTertiaryFixed: #191D08;
$onTertiaryFixedVariant: #45492F;
