$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #7A7484;
$secondary_paletteKeyColor: #7A757F;
$tertiary_paletteKeyColor: #7B738A;
$neutral_paletteKeyColor: #797678;
$neutral_variant_paletteKeyColor: #797678;
$background: #141314;
$onBackground: #E6E1E3;
$surface: #141314;
$surfaceDim: #141314;
$surfaceBright: #3A393A;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #1C1B1D;
$surfaceContainer: #201F21;
$surfaceContainerHigh: #2B292B;
$surfaceContainerHighest: #363436;
$onSurface: #E6E1E3;
$surfaceVariant: #484648;
$onSurfaceVariant: #C9C5C7;
$inverseSurface: #E6E1E3;
$inverseOnSurface: #313031;
$outline: #939092;
$outlineVariant: #484648;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #CBC3D5;
$primary: #CBC3D5;
$onPrimary: #332E3C;
$primaryContainer: #494453;
$onPrimaryContainer: #E8DFF2;
$inversePrimary: #615C6B;
$secondary: #CAC4CF;
$onSecondary: #322F37;
$secondaryContainer: #4D4A53;
$onSecondaryContainer: #ECE5F1;
$tertiary: #CCC2DB;
$onTertiary: #332D41;
$tertiaryContainer: #958DA4;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E8DFF2;
$primaryFixedDim: #CBC3D5;
$onPrimaryFixed: #1D1A26;
$onPrimaryFixedVariant: #494453;
$secondaryFixed: #E7E0EB;
$secondaryFixedDim: #CAC4CF;
$onSecondaryFixed: #1D1A22;
$onSecondaryFixedVariant: #49454E;
$tertiaryFixed: #E8DEF8;
$tertiaryFixedDim: #CCC2DB;
$onTertiaryFixed: #1E192B;
$onTertiaryFixedVariant: #4A4458;
