$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #078FFF;
$secondary_paletteKeyColor: #6D7698;
$tertiary_paletteKeyColor: #7572A5;
$neutral_paletteKeyColor: #727782;
$neutral_variant_paletteKeyColor: #707784;
$background: #0E141C;
$onBackground: #DEE2EF;
$surface: #0E141C;
$surfaceDim: #0E141C;
$surfaceBright: #343943;
$surfaceContainerLowest: #090E17;
$surfaceContainerLow: #161C24;
$surfaceContainer: #1A2028;
$surfaceContainerHigh: #252A33;
$surfaceContainerHighest: #30353E;
$onSurface: #DEE2EF;
$surfaceVariant: #404753;
$onSurfaceVariant: #C0C7D5;
$inverseSurface: #DEE2EF;
$inverseOnSurface: #2B313A;
$outline: #8A919F;
$outlineVariant: #404753;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #A5C8FF;
$primary: #A5C8FF;
$onPrimary: #00315E;
$primaryContainer: #004784;
$onPrimaryContainer: #D4E3FF;
$inversePrimary: #005FAD;
$secondary: #BDC5EB;
$onSecondary: #262F4D;
$secondaryContainer: #3D4565;
$onSecondaryContainer: #DCE1FF;
$tertiary: #C5C1F9;
$onTertiary: #2D2B59;
$tertiaryContainer: #8F8BC0;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D4E3FF;
$primaryFixedDim: #A5C8FF;
$onPrimaryFixed: #001C3A;
$onPrimaryFixedVariant: #004784;
$secondaryFixed: #DCE1FF;
$secondaryFixedDim: #BDC5EB;
$onSecondaryFixed: #111A37;
$onSecondaryFixedVariant: #3D4565;
$tertiaryFixed: #E3DFFF;
$tertiaryFixedDim: #C5C1F9;
$onTertiaryFixed: #181543;
$onTertiaryFixedVariant: #444171;
