$darkmode: true;
$primary: #ffb86d;
$onPrimary: #4b2800;
$primaryContainer: #6a3b00;
$onPrimaryContainer: #ffdcbb;
$secondary: #e2c1a4;
$onSecondary: #402c18;
$secondaryContainer: #59422c;
$onSecondaryContainer: #fedcbe;
$tertiary: #c0cc9a;
$onTertiary: #2b3410;
$tertiaryContainer: #414b25;
$onTertiaryContainer: #dce8b4;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #13100D;
$background: #13100D;
$onBackground: #ebe0d9;
$surface: #201b16;
$onSurface: #ebe0d9;
$surfaceVariant: #51453a;
$onSurfaceVariant: #d4c3b5;
$outline: #9e8e81;
$shadow: #000000;
$inverseSurface: #ebe0d9;
$inverseOnSurface: #352f2a;
$inversePrimary: #8c5000;
