$darkmode: true;
$primary: #f7f7f7;
$onPrimary: #000000;
$primaryContainer: #6b6b6b;
$onPrimaryContainer: #f7f7f7;
$secondary: #f7f7f7;
$onSecondary: #000000;
$secondaryContainer: #313131;
$onSecondaryContainer: #f7f7f7;
$tertiary: #f7f7f7;
$onTertiary: #000000;
$tertiaryContainer: #000000;
$onTertiaryContainer: #f7f7f7;
$error: #f7f7f7;
$onError: #000000;
$errorContainer: #000000;
$onErrorContainer: #f7f7f7;
$colorbarbg: #000000;
$background: #000000;
$onBackground: #f7f7f7;
$surface: #000000;
$onSurface: #f7f7f7;
$surfaceVariant: #202020;
$onSurfaceVariant: #f7f7f7;
$outline: #a1a1a1;
$shadow: #000000;
$inverseSurface: #f7f7f7;
$inverseOnSurface: #000000;
$inversePrimary: #f7f7f7;
